# Virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc

# Database files
db.sqlite3

# Static and media files
staticfiles/
media/

# Node modules (if React is inside the repo)
node_modules/

# VSCode and JetBrains IDE settings
.vscode/